.App {
  text-align: center;
}
.Productcard{
  width: 300px;
  border: 2px solid #d3931f;
  margin: 5px;
  padding: 4px;
  display: inline-block;
  text-align: center;
}
.Productbutton{
  background-color: #d1bd2d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    padding: 9px;
}
.productcontainer{
  margin:0px 2% 0px 2%;
}

